{% load static %}
<!DOCTYPE html>

<html>
  <head>
    <!-- FontAwesome -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

    <!-- jQuery and Popper.js -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous">
    </script>

    <script 
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous">
    </script>    

    <!-- Bootstrap -->
    <link 
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous">

    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous">
    </script>

    <!-- Spotify -->
    <script>var TOKEN = "{{ spotify_access_token }}";</script>
    <script src="https://sdk.scdn.co/spotify-player.js"></script>
    <script type="text/javascript" src="{% static "music/spotify-helpers.js" %}"></script>
    <script type="text/javascript" src="{% static "music/spotify-interface.js" %}"></script>
  </head>

  <body>
    <div class="container">
      <h2>What's playing?</h2>
      <p id="thisiswhatsplaying"></p>

      <form id="search-form">
        <input type="text" id="query" value="" class="form-control" placeholder="Type an Album Name"/>
        <input type="submit" id="search" class="btn btn-primary" value="Search" />
      </form>

      <div id="searchResults">
      </div>

      <button type="button" class="btn btn-primary" id="prev">Previous</button>
      <button type="button" class="btn btn-primary" id="toggle">Toggle</button>
      <button type="button" class="btn btn-primary" id="next">Next</button>

      {% for album in albums %}
        <p>{{ album.title }} - {{ album.artist }} - {{ album.release_date.year }}</p>
      {% endfor %}

    </div>
  </body>

</html>
