# Some random files
*.bak
db.sqlite3
secret.py
*.jpg
*.png

# These are just tests
polls

# Don't track this, I'll sync it manually
media

# Some other possible files
*.log
*.pot
*.pyc
__pycache__/
venv/

# Spotify info
music/spotify.py

# VSCode
.vscode
