beautifulsoup4==4.6.3
certifi==2018.8.13
chardet==3.0.4
Django==2.1
djangorestframework==3.8.2 
django-admin-sortable==2.1.7
django-blog-zinnia==0.20
django-contrib-comments==1.9.0
django-countries==5.3.1
django-ipware==2.1.0
django-js-asset==1.1.0
django-mptt==0.9.1
django-tagging==0.4.6
django-taggit==0.23.0
django-xmlrpc==0.1.8
idna==2.7
mots-vides==2015.5.11
Pillow==9.0.0
psycopg2-binary==2.7.5
pyparsing==2.2.0
markdown==2.6.11
pytz==2018.5
regex==2018.8.17
requests==2.19.1
urllib3==1.23
