<!DOCTYPE html>
<html>

<head>
    <title>Under construction</title>
    <meta name="viewport" content="width=device-width, initial-scale=0.8 user-scalable=no">
    <style>
        html { display: table; margin: auto; }
        body { width: 90%; text-align: center; display: table-cell; vertical-align: middle; }
    </style>
</head>

<body>
    <h1>Welcome to the future interactive resume of Jim Heald!</h1>
    <p>Unfortunately, it is still under construction. In the interim, please feel
        free to view my printable resume -- which utilizes this Django backend --
        <a href="{% url 'printable' %}">here</a></p>
</body>

</html>
