{% load static %}
<html>

<head>
  <title>
  Resume -- Jim Heald
  </title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css" rel="stylesheet" type='text/css'>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Source+Serif+Pro' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="{% static "resume/style.css" %}" /> 
</head>

<body>
  <div id="main">

    <div class="header">
      <h2 style="text-align: center;">JIM HEALD</h2>

      <hr>

      <div class="contact-info">
          <span class="header-info">
            <p><i class="fa fa-github" aria-hidden="true"></i> https://github.com/steelcowboy</p>
          </span>
          <span class="header-info">
            <p><i class="fa fa-phone" aria-hidden="true"></i> (805) 316-0838</p>
          </span>
          <span class="header-info">
            <p><i class="fa fa-envelope" aria-hidden="true"></i> james.r.heald@gmail.com</p>
          </span>

          <span class="header-info">
            <p><i class="fa fa-globe" aria-hidden="true"></i> devjimheald.com</p>
          </span>
      </div>

    </div>
    
    <div id="content">
      
    <!-- Projects Section -->
      <div id="project" class="section">
        <h3 class="section-header"><i class="fa fa-code"></i> Projects</h3>

        {% for project in projects %}
            <div class="item-header">
                <span class="project title">{{ project.object.name }}</span>
                {% if project.object.ongoing %}
                    <span class="project duration">{{ project.object.start_date|date:"M Y" }} - Present</span>
                {% else %}
                    <span class="project duration">{{ project.object.start_date|date:"M Y" }} - {{ project.object.end_date|date:"M Y" }}</span>
                {% endif %}
            </div>

            <div class="item-body">
                <ul>
                {% for point in project.points %} 
                    <li>
                        {{ point.text }}
                    </li>
                {% endfor %}
                </ul>
            </div>
        {% endfor %}
      </div>
      

    <!-- Employment Section -->
      <div id="employment" class="section">
        <h3 class="section-header"><i class="fa fa-briefcase"></i> Employment</h3>
        {% for employment in employments %}
            <div class="item-header">
            <span class="employment title">{{ employment.object.name }}</span>
            {% if employment.object.ongoing %}
                <span class="employment duration">{{ employment.object.start_date|date:"M Y" }} - Present</span>
            {% else %}
                <span class="employment duration">{{ employment.object.start_date|date:"M Y" }} - {{ employment.object.end_date|date:"M Y" }}</span>
            {% endif %}
            </div>

            <div class="item-body">
                <ul>
                {% for point in employment.points %} 
                    <li>
                        {{ point.text }}
                    </li>
                {% endfor %}
                </ul>
            </div>
        {% endfor %}
      </div>
      

    <!-- Education Section -->
      <div id="education" class="section">
        <h3 class="section-header"><i class="fa fa-graduation-cap"></i> Education</h3>

        {% for education in educations %}
            <div class="item-header">
                <span class="education title">{{ education.school }}</span>
                {% if education.ongoing %}
                    <span class="education duration">{{ education.start_date|date:"M Y" }} - Present</span>
                {% else %}
                    <span class="education duration">{{ education.start_date|date:"M Y" }} - {{ education.end_date|date:"M Y" }}</span>
                {% endif %}
            </div>
            
            <!-- Education is weird in that the top and bottom line behave the same way, so might as well just reuse the title
                and duration classes -->
            <div class="item-header">
                <span class="education title">{{ education.degree }}, GPA {{ education.gpa }}</span>
                <span class="education duration">{{ education.graduation|date:"M Y" }} Graduation</span>
            </div>

            <div class="item-body">
                <ul>
                {% for point in education.educationpoint_set.all %} 
                    <li>
                        <i>{{ point.keyword }}:</i> {{ point.text|linebreaksbr }}
                    </li>
                {% endfor %}
                </ul>
            </div>

        {% endfor %}
      </div>
      

    <!-- Affiliations Section -->
      <div id="affiliations" class="section">
        <h3 class="section-header"><i class="fa fa-users"></i> Affiliations</h3>
        {% for affiliation in affiliations %}
            <div class="item-header">
            <span class="affiliation title">{{ affiliation.object.name }}</span>
            {% if affiliation.object.ongoing %}
                <span class="affiliation duration">{{ affiliation.object.start_date|date:"M Y" }} - Present</span>
            {% else %}
                <span class="affiliation duration">{{ affiliation.object.start_date|date:"M Y" }} - {{ affiliation.object.end_date|date:"M Y" }}</span>
            {% endif %}
            </div>

            <div class="item-body">
                <ul>
                {% for point in affiliation.points %} 
                    <li>
                        {{ point.text }}
                    </li>
                {% endfor %}
                </ul>
            </div>
        {% endfor %}
      </div>
      

    <!-- Skills Section -->
      <div id="skills" class="section">
        <h3 class="section-header"><i class="fa fa-magic"></i> Skills and Achievements</h3>
        
        <div class="item-body">
            <ul>
            {% for skill in skills %}
                <li>
                    <i>{{ skill.keyword }}:</i> {{ skill.text }}
                </li>
            {% endfor %}
            </ul>
        </div>

      </div>

      
    </div>
    
  </div>
</body>

</html>
