html, body {
  background-image: url("/media/rock_background.jpg");
  background-color: #cccccc;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
}

.container {
  background-color: #ffffff;
}
