html, body {
  background-image: url("/media/rock_background.jpg");
  background-color: #cccccc;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  display: flex;
  flex-direction: column;
  /*height: 100%;*/
}

.navbar-brand {
  text-align: center;
  width: 100%;
  color: #ffffff;
}

.container {
  background-color: #ffffff;
  font-family: 'Source Sans Pro', sans-serif;
  height: 100%;
}

.nav-blue {
  background-color: #1D3461;
}

.content {
  padding: 5px;
}

.intro {
  text-align: center;
}

.hentry {
}
